fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    border: 2px groove;
    background-color: gainsboro;
    padding: 15px !important;
    margin-bottom: 25px !important;
    border-radius: 5px;
}

legend {
    display: block;
    padding: 6px !important;
    background-color: gray;
    width: auto !important;
    border: solid;
    font-size: 12px !important;
    font-weight: bold;
    color: white !important;
    border-radius:5px;
    animation-name: colorChange;
    animation-duration: 2s;
}

@keyframes colorChange {
    from {background-color: gray;}
    to {background-color:black;}
}

footer {
    background-color: white;
    font-size: 0.6em;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: inherit;
}

.mainSection {
    background: url("Contact.jpg") no-repeat;
    background-size: cover !important;
    height: 860px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

body {
    background-color: gray !important;
}

.header-ul {
    float: right !important;
    font-size: 15px;
    font-weight: bold;
    color:black !important;
    font-family: 'PT Serif', serif;
}

.header-nav {
    border-radius: 0 !important;
    background-color: white !important;
    height: 70px;
}

.header-container {
    margin-top: 10px;
}

.header-name {
    padding-left: 100px !important;
    font-size: 35px !important;
    font-style: italic;
    color: black !important;
    font-family: 'Pattaya', sans-serif;
}

a:hover {
    color: red !important;
}

.main-contact {
    margin-left: 85px !important;
    width: 730px !important;
    margin-bottom:50px !important;
    font-family:'PT Serif', serif;
}

.main-contact-title {
    text-align: center;
    font-size: 20px !important;
    padding-top:20px;
    font-weight:bold;

}

.main-contact-form {
    padding: 15px !important;
}

.form-checkbox {
    padding-left: 35px !important;
}

.control-label {
    text-align: left !important;
}

.send-form-button {
    text-align: center !important;
}

.footer-area {
    float: right !important;
    font-size: 14px;
}

.mediumimage {
    height: 20px;
    width: 20px;
}

.icons {
    margin-left: 15px;
    margin-right: 50px;
}

#submit {
    font-weight:bold;
}